extends layout

block content
  h1= title
  p Welcome to Our App
  form(action="/moveRequest/new" method="GET")

    input(type="text" name="id" placeholder="UserID")
    input(type="submit" value="New Move Request")
