extends layout

block content
  h1 Create New MoveRequest
  form(action="/moveRequest/setBasicInfo" method="POST")

    input(type="hidden" name="reqId" value=reqId)
    
    p From: 
    input(type="text" name="from" placeholder="Source Address")

    p To: 
    input(type="text" name="to" placeholder="Destination Address")

    p Type:
    select(name="type")
      option(value="industrial") Industrial
      option(value="home") Home
    
    input(type="submit")