extends layout

block content
    h1 finalize your order
    form(action="/moveRequest/submit" method="POST")

        input(type="hidden" name="reqId" value=reqId)
        input(type="submit" value="Pay!")