extends layout

block content
    h1 your order complete
    span start :
    p=timeSlot.start
    span end :
    p=timeSlot.end
    span from :
    p=moveRequest.from
    span to :
    p=moveRequest.to
    span type :
    p=moveRequest.type