extends layout

block content
    h1 Create New MoveRequest
    form(action="/moveRequest/setTimeSlot" method="POST")

        input(type="hidden" name="reqId" value=reqId)

        p timeSlot:
        each timeSlot in timeSlots
            input(type="radio" name="timeSlotId" value=timeSlot.id)
            lable=timeSlot.start + " " + timeSlot.end
            br

        input(type="submit")